
@font-face {
	font-family: 'titleFont';
	src: url('./BungeeShade-Regular.ttf');
	font-weight: 400;
	font-style: normal;
  }
@font-face {
		font-family: 'textFont';
		src: url('./Neucha-Regular.ttf');
		font-weight: 400;
		font-style: normal;
	  }
html, body {
margin: 0;
height: 100%;
min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}


#header {
	flex: none;
}

#header {
display: grid;
grid-template: 1fr / repeat(8, 1fr);
height: 100px;
background-color: #F77A3B;
justify-items: end;	
align-items: end;
padding-right: 50px;
border-bottom: none;
border-style: none;
z-index: 2;
position: fixed;

}

.tab {
justify-self: center;
font-size: 38px;
padding: 10px;
padding-left: 25px;
padding-right: 25px;
font-family: 'textFont';
border-style: none;
border-radius: 10px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
background-color: #6CCD8C;
color: #0B0500;
box-shadow: 6px -6px 3px -3px rgba(77,75,77,.5);
}

#homeTab {
grid-area: 1 / 6 / 2 / 7;
justify-self: end;
background-color: #F0B356;	
}

#menuTab {
grid-area: 1 / 7 / 2 / 8;
}
#locationsTab {
grid-area: 1 / 8 / 2 / 9;
background-color: #FE4120;
}

#content {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	flex-grow: 1;

}

/* homepage content */
	#home-page-content {
	display: grid;
	grid-template: repeat(6, 1fr) / repeat(3,1fr);
	border-top: none;
	border-style: none;	
	background-color: #F0B356;	
	width: 100%;
	}

	#asher {
	grid-area: 1 / 1 / 6 / 4;
	justify-self: center;
	align-self: center;
	width: auto;
	height: 75%;
	z-index: 0;
	border-style: none;
	}	

	#title, #about {
	z-index: 1;
	}

	#title {
	grid-area: 1 / 1 / 2 / 4;
	position: relative;
	top: 40px;
	text-align: start;
	font-size: 100px;
	font-family: 'titleFont';
	color: #FE4120;
	}

	#about {
	grid-area: 2 / 1 / 3 / 3;
	position: relative;
	top: -100px;
	left: -50px;
	font-size: 28px;
	width: 600px;
	justify-self: center;
	align-self: start;
	font-family: 'textFont';
	padding: 15px;
	line-height: 40px;
	background-color: rgb(250, 249, 246, 60%);
	border-radius: 15px;	
	color: #0B0500;
	}

/* menu page */

#menu-page-content {
	background-color: #6CCD8C;
	display: grid;
	grid-template: repeat(6, 1fr) / repeat(3,1fr);
	border-top: none;
	border-style: none;	
	width: 100%;
	height: 100%;
}

#menu {
	background-color: #D8F1A0;
	border: black solid 1px;
	display: grid;
	grid-area: 3 / 1 / 7 / 3;
	grid-template: repeat(10, 1fr) / repeat(4, 1fr);
	z-index: 0;
	font-family: 'textFont';
	color: #0B0500;
}


/* locations page */

#locations-page-content {
	background-color: #FE4120;
	display: grid;
	grid-template: repeat(6, 1fr) / repeat(3,1fr);
	border-top: none;
	border-style: none;	
	width: 100%;
	height: 100%;
}

